button.glyphicon-trash, button.glyphicon-edit, button.glyphicon-log-out,
button.glyphicon-floppy-saved, button.glyphicon-remove, button.glyphicon-ban-circle,
button.fa-sign-in {
    background: transparent;
    border: 0;
}
/*Botones modal*/
button.glyphicon-floppy-saved, button.glyphicon-remove {
    color: #337ab7;
}

button.glyphicon-log-out {
    color: #8e1a1a;
}

button.glyphicon-trash {
    color: #c70202;
}
button.glyphicon-trash:hover {
    color: #800000;
}

button.glyphicon-ban-circle{
  color: #a80e0e;
}

button.fa-sign-in{
  font-size: 35px;
  color: #00b022;
  background-color: transparent;
}
