.home-navbar, .navbar-default .navbar-nav > li > a{
    background-color: #bb2f0e;
    color: white;
}

.navbar-default .navbar-nav > li > a:hover {
  color:#aaaaaa;
  font-weight: bold;
}

.navIcon {
  font-size: 40px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
}

li > a .odd {
  background-color: #ac533e;
}

#logoNav {
  height: 40px;
  margin-top: 5px;
}

#logoHome img {
  border-radius: 50%;
  margin-top: 50px;
  margin-bottom: 100px;
  border: 2px solid white;
}

body  {
  background-color: #333333;
}

.left-panel {
}

.right-panel {
  background-color: white;
  margin-top: -20px;
  height: 100vh;
}
