/* ------------------------------------------------------------------------------
-------------------------------------NAV ----------------------------------------
-------------------------------------------------------------------------------*/
#titleHome { border-bottom: 1px solid white; }
#titleHome > a{
  text-align: center;
  color: white;
  text-decoration: none;
}
#titleHome a:hover {
  color: rgb(218, 152, 109);
  transition: all 0.6s ease;
}

/* ------------------------------------------------------------------------------
-------------------------------------HOME----------------------------------------
-------------------------------------------------------------------------------*/

#myCarousel {
  border-radius: 50%;
  border: 1px solid red;
}
