nav [class*='col-'] {
  padding: 0px;
  margin: 0px;
}

.accidentados [class*='col-']{
  padding-left: 0px;
  padding-right: 0px;
}

nav li a:hover span{
  color: rgb(208, 107, 72);
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav a:focus {
  background-color:transparent;
}
nav a:focus span{
  color: #fff;
}
nav li a span{
  color: #fff;
}

nav div:first-child, nav div:last-child{
    height: 110px;
    background-color: #490000;
    color: white;
    border-bottom: 1px solid white;
}

.rightNav li {
  list-style: none;
  margin: 0px;
  padding-top: 20px;

}

.rightNav .dropdown-menu {
  min-width: 0px;
}

.rightNav .dropdown-menu li a{
    color: black;
}
.rightNav .dropdown-menu li{
  padding: 0px;
}

.rightNav li a {
  color: white;
}
nav .rightNav li{
    text-align: right;
    padding-right: 35px;
}
.rightNav ul.dropdown-menu {
    left: auto;
    right: 0;
    margin-right: 20px;
}

nav div ul:not([class*="dropdown-menu"]), nav div {
  height: 100%;
}

#first-icon{
  border-left: 1px solid rgba(255, 255, 255, 0.37);
}

.icon-title{
  display: block;
  text-align: center;
  margin:  3px 0 -10px 0;
  font-size: 14px;
}

.navIcon{
  display: inline-block;
  width: 110px;
  height: 100%;
  float: left;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.37);
}

.cantidad{
  position: absolute;
  font-size: 14px;
  top: 5px;
  right: 10px;
}

.navIcon .glyphicon{
  font-size: 50px;
  padding-top: 15px;
}

nav ul h2, nav ul h4{
  text-align: center;
}

#breadcrumb {
  /*height: 40px;*/
  /*background-color: #490000;*/
  color: #490000;
  height: 40px;
  font-weight: bold;
  padding-top: 0px;
  border-bottom: 1px solid #490000;
  border-left: 1px solid white;
  padding-left: 20px;
}

#breadcrumb .fa {
  vertical-align: middle;
  font-size: 28px;
  padding-right: 15px;
  border-right: 1px dotted #505050;
}

#breadcrumb h4 {
  padding-left: 15px;
  vertical-align: middle;
  display: inline-block;
}

#logoHome img {
  border-radius: 50%;
  width: 20%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 42%;
  border: 2px solid white;
}

html {
  width: 100%;
  height: 100%;
}

body  {
  /*background-color: #2e353d;*/
  background-color: #490000;
  height: 100%;
}

.sidebar {
    height: calc(100% - 110px);
}
.panel-body{
  overflow-x: auto;
}
article {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.right-panel {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f5f5f5;
  height: calc(100% - 110px);
}

#MainMenu .panel {
  border: 0px;
  border-radius: 0px;
}

#MainMenu {
  padding: 0px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

.list-group div a {
  padding-left: 30px;
  line-height: 15px;
  background-color: #181c20;
  border-bottom: 1px solid #23282e;
}

.list-group-item{
  background-color: #2e353d;
  border: 0px;
  border-bottom: 1px solid #23282e;
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  line-height: 35px;
  margin: 0px;
}

a.list-group-item{
  color: white;
}

.arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.activo:hover {
  border-left: 4px solid #490000;
  background-color: #4f5b69;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.activo {
  border-left: 6px solid #337ab7;
  background-color: #4f5b69;
}

a.list-group-item:focus{
  background-color: #4f5b69;
  color:white;
}
a.list-group-item:hover{
  background-color: #4f5b69;
  color:white;
  border-left: 6px solid #337ab7;
  -webkit-transition: all 0.2s ease;
  -moz-transition: all 0.2s ease;
  -o-transition: all 0.2s ease;
  -ms-transition: all 0.2s ease;
  transition: all 0.2s ease;
}

a:hover, a:focus {
  text-decoration: none;
}

.serviciosActivos{
      text-align: center;
      padding: 0px;
      border: 1px solid grey;
      box-shadow: 8px 8px 4px rgba(172, 172, 172, 0.44);
}

.serviciosActivos li button {
    position: relative;
    right: 0px;
    top: 0px;
}

.serviciosActivos li a {
    font-weight: bold;
    width: 100%;
    border-bottom: 1px solid grey;
}

.serviciosActivos li a, .serviciosActivos li form{
  display: inline-block;
}

.serviciosActivos li a:hover button {
    background-color: #f5f5f5;
}

.btn.salida:hover {
    font-size: 20px;
    color: #337ab7;
}

.salida{
  background-color: white;
  color: #ff0000;
}
.salidaok{
  background-color: white;
  color: #008301;
}

#panelLogin, #panelRegister {
  background-color: #490000;
  color: white;
  margin-top: 0px;
  border: 0px;
  font-weight: bold;
}

#panelLogin .btn-primary, #panelRegister .btn-primary {
  background-color: white;
  color: #490000;
  border: 1px solid #490000;
  font-weight: bold;
  float: right;
}

#panelLogin .btn-link {
  color: white;
}

/*esto ya esta-------------------------------------------*/
#titleHome a:hover {
  color: rgb(218, 152, 109);
  transition: all 0.6s ease;
}
#titleHome > a{
  text-align: center;
  color: white;
  text-decoration: none;
}
#titleHome{
  border-bottom: 1px solid white;
}
/*esto ya esta-------------------------------------------*/

.list-group-item {
  border-bottom: 1px solid white;
}

.list-group-item:last-child {
  border-bottom: 1px solid white;
}

.row {
  margin: 0px;
}

#inputFilterPuntuacion {
  background-position: 10px 12px; /* Position the search icon */
  background-repeat: no-repeat; /* Do not repeat the icon image */
  width: 100%; /* Full-width */
  font-size: 16px; /* Increase font-size */
  /*padding: 12px 20px 12px 40px; /* Add some padding */
  border: 1px solid #ddd; /* Add a grey border */
  margin-bottom: 12px; /* Add some space below the input */
}
.panel {
  margin-bottom: 0px;
}

#tablaPuntuacion tr:hover {
  background: #f1f1f1;
}
.presentesOn {
    color:green;
    margin-top: 8px;
    font-size: 20px;
}
.presentesall {
    color:gray;
    margin-top: 3px;
    font-size: 18px;
}
.presentesOff{
    color:red;
    margin-top: 8px;
    font-size: 20px;
}


/* Aca empiezo el refactor de este css */
/* Dejar todo lo que esta aca abajo */
.alto{
  height: 350px;
}
