nav [class*='col-'] {
  padding: 0px;
  margin: 0px;
}
 .accidentados [class*='col-']{
   padding-left: 0px;
   padding-right: 0px;
 }

nav li a:hover span{
  color: #fff;
  -webkit-transition: all 1s ease;
  -moz-transition: all 1s ease;
  -o-transition: all 1s ease;
  -ms-transition: all 1s ease;
  transition: all 1s ease;
}
nav a:focus {
  background-color:transparent;
}
nav a:focus span{
  color: #fff;
}
nav li a span{
  color: rgb(208, 107, 72);
}

nav .odd a span{
  color: rgb(218, 152, 109);
}

nav .odd {
  background: rgba(255,255,255,0.1);
}

nav div:first-child, nav div:last-child{
    height: 110px;
    background-color: #490000;
    color: white;
    border-bottom: 1px solid white;
}

.rightNav li {
  list-style: none;
  margin: 0px;
  padding-top: 20px;
}

.rightNav .dropdown-menu {
  min-width: 0px;
}

.rightNav .dropdown-menu li a{
  color: black;
}
.rightNav .dropdown-menu li{
  padding: 0px;
}

.rightNav li a {
  color: white;
}

nav div ul:not([class*="dropdown-menu"]), nav div {
  height: 100%;
}

#first-icon{
  border-left: 1px solid rgba(255, 255, 255, 0.37);
}

.icon-title{
  display: block;
  text-align: center;
  margin:  3px 0 -10px 0;
  font-size: 14px;
}

.navIcon{
  display: inline-block;
  width: 110px;
  height: 100%;
  float: left;
  font-size: 14px;
  border-right: 1px solid rgba(255, 255, 255, 0.37);
}

.cantidad{
  position: absolute;
  font-size: 14px;
  top: 5px;
  right: 10px;
}

.navIcon .glyphicon{
  font-size: 50px;
  padding-top: 15px;
}

nav ul h2, nav ul h4{
  text-align: center;
}

#carouselHome {
  margin-top: 10%;
  border: 2px solid #690000;
  border-radius: 2px;
  padding-left: 0px;
  padding-right: 0px;
}

#carouselHome {
  margin-top: 50%;
  border-radius: 5px;
}

#carouselHome img {
  border-radius: 4px;
}

#breadcrumb {
  /*height: 40px;*/
  /*background-color: #490000;*/
  color: #490000;
  height: 40px;
  padding-top: 0px;
  border-bottom: 1px solid #490000;
  border-left: 1px solid white;
  padding-left: 20px;
}
#breadcrumb .fa {
  vertical-align: middle;
  font-size: 28px;
  padding-right: 15px;
  border-right: 1px dotted #505050;
}

#breadcrumb h4 {
  padding-left: 15px;
  vertical-align: middle;
  display: inline-block;
}

#logoHome img {
  border-radius: 50%;
  width: 20%;
  margin-top: 7%;
  margin-bottom: 7%;
  margin-left: 42%;
  border: 2px solid white;
}

html {
  width: 100%;
  height: 100%;
}

body  {
  /*background-color: #2e353d;*/
  background-color: #490000;
  height: 100%;
}

.sidebar {
    height: calc(100% - 110px);
}
.panel-body{
  overflow-x: auto;
}
article {
  padding-left: 0px !important;
  padding-right: 0px !important;
}

.right-panel {
  padding-left: 0px;
  padding-right: 0px;
  background-color: #f5f5f5;
  height: calc(100% - 110px);
}

/*@media screen and (max-width: 768px) {
    .right-panel {
        margin-top: 40px;
    }
}*/
#MainMenu .panel {
  border: 0px;
  border-radius: 0px;
}

#MainMenu {
  padding: 0px;
}

.list-group-item:first-child, .list-group-item:last-child {
    border-radius: 0px;
}

.list-group div a {
  padding-left: 30px;
  line-height: 15px;
  background-color: #181c20;
  border-bottom: 1px solid #23282e;
}

.list-group-item{
  background-color: #2e353d;
  border: 0px;
  border-bottom: 1px solid #23282e;
  font-family: verdana;
  font-size: 14px;
  font-weight: 200;
  line-height: 35px;
  margin: 0px;
}

a.list-group-item{
  color: white;
}

.arrow:before {
  font-family: FontAwesome;
  content: "\f078";
  display: inline-block;
  padding-left: 10px;
  padding-right: 10px;
  vertical-align: middle;
  float: right;
}

.activo:hover {
  border-left: 4px solid #490000;
  background-color: #4f5b69;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

.activo {
  border-left: 4px solid #490000;
  background-color: #4f5b69;
}

a.list-group-item:focus{
  background-color: #4f5b69;
  color:white;
}
a.list-group-item:hover{
  background-color: #4f5b69;
  color:white;
  border-left: 4px solid #490000;
  -webkit-transition: all 0.6s ease;
  -moz-transition: all 0.6s ease;
  -o-transition: all 0.6s ease;
  -ms-transition: all 0.6s ease;
  transition: all 0.6s ease;
}

a:hover, a:focus {
  text-decoration: none;
}

.dropdown-menu{
      padding: 5px 15px 5px 5px;
      margin-left: 25%;
}
.dropdown-menu li a{
  padding: 0px 0px;
  margin-left: 10px;
  margin-top: 1.5px;
}
.salida{
  padding: 0px 0px;
  color: #ff0000;
  margin-top: 1.5px;
}
.salidaok{
  padding: 0px 0px;
  color: #008301;
  margin-top: 1.5px;
}

.eliminar{
  padding: 0px 0px;
  color: #337ab7;
  margin-top: -5px;
}
thead th{
  border:2px solid rgb(0, 0, 0) !important;
}

.serviciosActivos li a, .serviciosActivos li form{
  display: inline-block;
}

#regIngreso {
  font-weight: bold;
  color: white;
  width: 70%;
  border-radius: 10px;
  text-align: center;
  font-size: 18px;
  display: inline-block;
}

#panelLogin, #panelRegister {
  background-color: #490000;
  color: white;
  margin-top: 0px;
  border: 0px;
  font-weight: bold;
}

#panelLogin .btn-primary, #panelRegister .btn-primary {
  background-color: white;
  color: #490000;
  border: 1px solid #490000;
  font-weight: bold;
  float: right;
}

#panelLogin .btn-link {
  color: white;
}

/*esto ya esta-------------------------------------------*/
#titleHome a:hover {
  color: rgb(218, 152, 109);
  transition: all 0.6s ease;
}
#titleHome > a{
  text-align: center;
  color: white;
  text-decoration: none;
}
#titleHome{
  border-bottom: 1px solid white;
}
/*esto ya esta-------------------------------------------*/


#regIngreso .fa-sign-in {
  background-color: inherit;
  font-size: 30px;
  border: 0px;
  color: green;
  margin-top: 10px;
}
#regIngreso .fa-sign-out {
  background-color: inherit;
  font-size: 30px;
  border: 0px;
  color: red;
}

.list-group-item {
  border-bottom: 1px solid white;
}

.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  background-color: #490000;
  border: 1px solid #490000;
}
.pagination > li > a {
  color: #490000;
}

.btn-primary {
  background-color: #490000;
  border-color: #320101;
}

.btn-primary:active, .btn-primary:active:hover {
  background-color: #490000;
  border-color: #320101;
}

.btn-primary:focus {
  background-color: #490000;
  border-color: #320101;
}

.btn-primary:hover {
  background-color: #300101;
  border-color: #1d0101;
}

.form-control:focus {
  border-color: #ad0000;
}

.list-group-item:last-child {
  border-bottom: 1px solid white;
}
