button.glyphicon-trash, button.glyphicon-edit, button.glyphicon-log-out {
    background: transparent;
    border: 0;
}

button.glyphicon-log-out {
    color: #8e1a1a;
}

button.glyphicon-trash {
    color: #c70202;
}
button.glyphicon-trash:hover {
    color: #800000;
}
